.createquiz{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 20px;

}


.createquiz div{
    margin-bottom: 10px;

}


.createquiz h4{
    color:black;
}


.numberofQuestions{

}

.fileupload{
    display: flex;
    flex-direction: column;
    

}

.uploadbutton{
    width: 30%   ;

}


.sliderDiv{
    width: 300px;

}

.TEST{
    color:black;
}